
<div class="alert alert-info" role="alert">
    <div class="row">
        <div class="col-6">Cisco</div>
        <div class="col-6 text-right" >number of share: 5000</div>
    </div>
  </div>
  <div class="alert alert-info" role="alert">
    <div class="row">
        <div class="col-6">Nokia</div>
        <div class="col-6 text-right" >number of share: 1000</div>
    </div>
  </div>
  <div class="alert alert-info" role="alert">
    <div class="row">
        <div class="col-6">AT&T</div>
        <div class="col-6 text-right" >number of share: 4200</div>
    </div>
  </div>
  <div class="alert alert-info" role="alert">
    <div class="row">
        <div class="col-6">Microsoft</div>
        <div class="col-6 text-right" ><!-- Example single danger button -->
          <div class="btn-group">
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Number of Shares
            </button>
            <div class="dropdown-menu">
              <div class="dropdown-item text-center" >10000</div>
              <div class="dropdown-item text-center" >20000</div>
              <div class="dropdown-item text-center" >30000</div>
              <div class="dropdown-divider"></div>
              <div class="dropdown-item text-center" >40000</div>
            </div>
          </div></div>
    </div>
  </div>