
<div class="alert alert-info" role="alert">
    <div class="row">
        <div class="col-6">Cisco</div>
        <div class="col-6 text-right" >number of share: 5000</div>
    </div>
  </div>
  <div class="alert alert-info" role="alert">
    <div class="row">
        <div class="col-6">Nokia</div>
        <div class="col-6 text-right" >number of share: 1000</div>
    </div>
  </div>
  <div class="alert alert-info" role="alert">
    <div class="row">
        <div class="col-6">AT&T</div>
        <div class="col-6 text-right" >number of share: 4200</div>
    </div>
  </div>
  <div class="alert alert-info" role="alert">
    <div class="row">
        <div class="col-6">Microsoft</div>
        <div class="col-6 text-right" >number of share: 2000</div>
    </div>
  </div>