
<div class="row mt-4">
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">

    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
        <div class="card text-center main">
            <div class="card-header bg-dark">
              Reza Razjoo Portfolio
            </div>
            <div class="card-body bg-primary">
              <h5 class="card-title">This is a sample Single page application created with Angular 8</h5>
              <p class="card-text">The site includes samples of angular reactive forms with validation, example of this 
                  can be seen in the personal-details link  </p>
                  <img src="../../assets/images/city.jpg" class="card-img-top" alt="...">
              <!-- <a href="#" class="btn btn-light">Go somewhere</a> -->
            </div>
            <div class="card-footer text-muted">
             Footer
            </div>
          </div>
          
    </div>
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2"></div>
</div>