
<div class="row mt-4">
    <div class="col-2">

    </div>
    <div class="col-8">
        <div class="card text-center main">
            <div class="card-header bg-dark">
              Reza Razjoo Portfolio
            </div>
            <div class="card-body bg-primary">
              <h5 class="card-title">This is a sample Single page application created with Angular 8</h5>
              <p class="card-text">The site includes samples of angular reactive forms with validation, example of this 
                  can be seen in the personal-details link  </p>
              <a href="#" class="btn btn-light">Go somewhere</a>
            </div>
            <div class="card-footer text-muted">
             Footer
            </div>
          </div>
    </div>
    <div class="col-2"></div>
</div>