p {
    color: black;
}

.card {

    color: black;
    background-color: #869c88;
}
.list-group.list-group-flush{
    color: black;
    background-color: #869c88;

}

.list-group-item {
    color: black;
    background-color: wheat;
}