
<div class="alert alert-success mt-4" role="alert">
    <div class="row">
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 left">
          <p>custom</p>
        <!-- <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div> -->
      </div>
      <div class="col-xs-3 col-sm-3 col-md-6 col-lg-6 col-xl-6 center">
          <p>Center</p>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 right">
          <p>Right</p> 
          </div>
      
    </div>
    
  </div>