.left {
   // background-color: red;
   color: black;
}

.center {
    background-color:blue;
}

.right {
    background-color: green;
}

.dropdown-menu {
    width: auto; 
  }
  
  .btn{
   width: auto;
  }