/* You can add global styles to this file, and also import other style files */

$theme-colors: (
  "primary":#869c88,
  "secondary":#cf7b55,
  "success": #c6d160,
   "dark": #a83c34,
  "danger": #ff4136
);
$body-color: wheat;
$border-radius:               1.2rem !default;

body {
    overflow-y: hidden;
}
@import 'bootstrap';
@import "phone-default";
@import "tablet";
@import "desktop";
@import "reset";
@import "variables";
@import "small";
@import "medium";
@import "large";

%subnav {
  display: block;
  float: left;
  width: 25%;
  margin: 2em 0 0 0;
  padding: .5em 1em .2em 1em;
  color: $main-color;
  text-decoration: none;
  border-radius: 10px 10px 0 0;
  transition: background ease .5s;
  
}

.subnav-link {
  @extend %subnav;
  background-color: $background-color;
  
}

.subnav-link:hover {
  @extend %subnav;
  background-color:$font-color;
}

.subnav-active {
  @extend %subnav;
  background-color: $blue;
}


//used in span to hide parts of text in small screen size
.hideSmall {
  display: none;
}

// "node_modules/bootstrap/dist/css/bootstrap.min.css"


footer{

  clear: both;
  text-align: center;
  padding: 2em 0 .6em 0;
  font-size: .8em;
  font-weight: 700;
  color: brown; 
  a {
    color: $body-color;
  }
  
}

body {
  background-color:#f2e5da;
}

//Mixins


@mixin columns($count, $line_color) {
  -webkit-column-count: $count ;  /* Chrome, Safari, Opera */
  -moz-column-count: $count ;    /* FireFox */
  column-count:$count;

  -webkit-column-gap: $count ;
  -moz-column-gap: $count ;
  column-gap: $count ;

  -webkit-column-rule: 1px outset $line_color;
  -moz-column-rule: 1px outset $line_color;
  column-rule: 1px outset $line_color;
}