@import '../../styles.scss';
p {

    color: $main-color;
}



.form-control{

    background-color:$main-color;
    color: wheat;
}

select option {
    background-color: $main-color;
    color: wheat;
}