@import '../../styles.scss';
p {

    color: $main-color;
}



 .form-control{

   //background-color:$main-color;
    color: wheat;
   // border-color: yellow;
}

.btn.btn-primary.dropdown-toggle {
    width: 100%;
    //background-color:$main-color;
    color: wheat;
  // border-color:#a83c34;
}

.dropdown-menu {
    width: 100%;
}

.dropdown-item{
    text-align: center;
}

// select option {
//     background-color: $main-color;
//     color: wheat;
// }

// .btn-link:hover {
//     color: green;
//     text-decoration: underline;
//   }

//   .btn-primary {
//     color: #fff;
//     background-color: green;
//     border-color: green;
//   }
  

